* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0;
    padding: 0;
    background: white;
    background-repeat: no-repeat;
    background-size: 1280px 720px;
}

.main {
    width: 1280px;
    height: 720px;

    /*background-color:white;*/
    background-image: url("../images/background.png");
    background-size: 1280px 720px;
    opacity: 1;
    position: relative;
}

.room_setting {
    padding-top: 25px;
}

.setting_center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.duel_button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.duel_button.single {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
    background: rgb(183, 222, 237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 50%, rgba(33, 180, 226, 1) 51%, rgba(183, 222, 237, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 50%, rgba(33, 180, 226, 1) 51%, rgba(183, 222, 237, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 50%, rgba(33, 180, 226, 1) 51%, rgba(183, 222, 237, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
}

.duel_button.double {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
    background: rgb(252, 234, 187); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.qrcode_box {
    width: 256px;
    margin: 50px auto;
}

.qrcode {
    width: 256px;
    height: 256px;
}

.upDisplay {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.hit_point {
    width: 500px;
    height: 50px;
    top: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    box-sizing: border-box;
    padding: 17px 15px;
    z-index: 5;
}

.hit_point.left {
    background-image: url("../images/hp_bar1.png");
    left: 50px;
}

.hit_point.right {
    background-image: url("../images/hp_bar2.png");
    right: 50px;
}

.point_bar {
    width: 100%;
    height: 100%;
    background-color: red;
    transition: all .6s;
}

.point_bar.left {
    float: right;
}

.point_bar.right {
    float: left;
}

.tankBox {
    width: 6%;
    padding-top: 6%;
    position: absolute;
    cursor: default;
    animation-duration: 1.5s;
}

.tankBody {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/tank_b.png");
    background-size: 100% 100%;
}

.cannon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/tank_b_canon.png");
    background-size: 100% 100%;
}

.explode {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/explode.gif");
    background-size: 100% 100%;
    z-index: 3;
}

.bullet_wrapper {
    width: 30px;
    height: 30px;

    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url("../images/bullet.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.signal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2, 2);
    opacity: 0;
    background-size: 100%;
}

.signal.active {
    animation-name: slideIn_n_fadeOut;
    animation-duration: 3s;
}

.signal.ready {
    width: 170px;
    height: 67px;
    z-index: 5;
    background-image: url("../images/ready.png");
}

.signal.go {
    width: 120px;
    height: 80px;
    z-index: 6;
    animation-delay: 2s;
    background-image: url("../images/go.png");
}

.counter_box {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.counter_box div {
    width: 51px;
    height: 69px;
    background-size: 100%;
    float: left;
}

.counter_box div:nth-of-type(1) {}

.number0 {
    background-image: url("../images/number_0.png");
}

.number1 {
    background-image: url("../images/number_1.png");
}

.number2 {
    background-image: url("../images/number_2.png");
}

.number3 {
    background-image: url("../images/number_3.png");
}

.number4 {
    background-image: url("../images/number_4.png");
}

.number5 {
    background-image: url("../images/number_5.png");
}

.number6 {
    background-image: url("../images/number_6.png");
}

.number7 {
    background-image: url("../images/number_7.png");
}

.number8 {
    background-image: url("../images/number_8.png");
}

.number9 {
    background-image: url("../images/number_9.png");
}

@media (max-width: 768px) {}

.shake {
    animation-name: shake_effect;
}

@keyframes shake_effect {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn_n_fadeOut {
    0% {
        transform: translate(-50%, -50%) scale(2, 2);
        opacity: 0;
    }

    40% {
        transform: translate(-50%, -50%) scale(1.2, 1.2);
        opacity: 1;
    }

    60% {
        transform: translate(-50%, -50%) scale(1.2, 1.2);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(0.8, 0.8);
        opacity: 0;
    }
}

/* plugin */

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.imgFillFull {
    width: 100%;
    opacity: 0;
}

.umbrella {
    opacity: 1;
}
